body{
    background-color:lightblue;
    
}
h1{
color:black;
text-align:center;
}
h2{
text-align:center;
color:navy;
text-decoration:underline;
}
p{
color:black;
}
h3{
color:red;
font-family:'Courier New', Courier, monospace
}