body{
    background-color:purple;
}

h1{
    color:green;
    text-align:center;
    font-weight: bold;
}
h2{
    color:white;
    text-align:right;
    font-style:italic;
    text-decoration:underline;

}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.fancy{
    color:yellow;
}

.common{
    background-color: gray;
    border: 2px solid white;
    Position: absolute
}
.header{
    top:5px;
    left:15px;
    right:25px;
    height:100px;

}
.left{
    top:115px;
    left:15px;
    width:100px;
    bottom:40px;
   /* height: fit-content; */
}
.right{
    top:115px;
    right:25px;
    width:100px;
    bottom:40px;
    /* height: fit-content; */
}
.main{
    top:115px;
    left:130px;
    right:140px;
    height: fit-content;
}
.footer{
    bottom:5px;
    height:25px;
    left:15px;
    right:25px;
    Position:fixed;
    z-index: 1;
}
.redtext{
    color:red;
}
.purpletext{
    color:purple;
}
